header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 20px;
background-color: #f8f9fa;
font-family: 'Arial', sans-serif;
}


.logo-Header img {
height: 50px;
}  




.navbar-header-middle a{
text-decoration: none;
color: black;
margin: 0 15px;
padding: 3px 8px;
border-radius: 2px;
}
.navbar-header-middle a:hover {
color: rgb(245, 247, 242); background-color: black;     
}  




.navbar-Header-right a{
text-decoration: none;
color: white;
background-color: rgb(13, 140, 51);
padding: 8px 16px;
border-radius: 4px;
font-weight: 500;
}
.navbar-Header-right a:hover {
    color: rgb(25, 23, 19); background-color: paleturquoise;
}


.hero-section {
    width: auto;               
    height: 674 px;                   
    background-image: url(hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;     
    align-items: center;            
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;                  
    position: relative;
}

.Early-Access-Bar {
    font-size: x-small;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 8px 20px;
    text-decoration: none
    color(rgb(13, 140, 51));
    border-radius: 4px;
    margin-top: 20px;
    background-color: rgb(122, 179, 130);
}
.dot {
    width: 6px;
    height: 6px;
    background-color: green;
    border-radius: 50%;
}

.title1-white {
    font-size: 48px;
    color: white;}

.title2-green {
    font-size: 48px;
    color: rgb(13, 140, 51);
}
.hero-section h1,
.hero-section h2 {
    margin:0; line-height: 1.1;
}

.Early-Access-Bar,
.hero-section h1,
.hero-section h2 {
    margin-top: 17px;
}
