header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 20px;
background-color: #f8f9fa;
font-family: 'Arial', sans-serif;
}


.logo-Header img {
height: 50px;
}  




.navbar-header-middle a{
text-decoration: none;
color: black;
margin: 0 15px;
padding: 3px 8px;
border-radius: 2px;
}
.navbar-header-middle a:hover {
color: rgb(245, 247, 242); background-color: black;     
}  




.navbar-Header-right a{
text-decoration: none;
color: white;
background-color: rgb(13, 140, 51);
padding: 8px 16px;
border-radius: 4px;
font-weight: 500;
}
.navbar-Header-right a:hover {
    color: rgb(25, 23, 19); background-color: paleturquoise;
}


.hero-section {
    width: auto;               
    height: 550px;                   
    background-image: url(hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;    
    align-items: center;            
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    margin: 2px;                  
    position: relative;
}

.Early-Access-Bar {
    font-size: small;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 4px 6px;
    text-decoration: none; 
    color: (rgb(17, 77, 35));
    border-radius: 8px;
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: rgb(180, 241, 189);
}
.dot {
    width: 6px;
    height: 6px;
    background-color: green;
    border-radius: 50%;
}

.title1-white {
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 6px;
    color: white;}

.title2-green {
    font-size: 60px;
    color: rgb(14, 169, 61);
    margin-top: 0;
    margin-bottom: 20px;
}


.p1-in-hero, .p2-in-hero {
    font-size: 14px;
    color: white;
    margin-top: 20px;
}
.p1-in-hero, .p2-in-hero {
    margin: 2px;
}

.hero-buttons {
    display:flex;
    margin-top: 30px;
    gap: 10px;
}

.button-left {
    background-color: rgb(17, 83, 37);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
    opacity: 0.8;
} 

.button-right {
    background-color: transparent;
    color: white;
    padding: 12px 24px;
    border: 2px solid white;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
    opacity: 0.8;
}
.button-left-arrow {
    margin-left: 8px;
    vertical-align: middle;
}


.button-left:hover, .button-right:hover {
    opacity: 1;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.problem-headline-and-text {
    height: 200px;
    width: auto;                  
    margin: 0px 2px 15px 2px;  
    text-align: center;           
    display: flex;                
    flex-direction: column;       
    justify-content: center; 
    background-color: rgb(255, 255, 255);     
}

.section3-containing-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0px 2px;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
}
.section3-containing-box div {
    background-color: white;
    width: 320px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.296);
    text-align: center;
} 

.box-hover:hover {
    background-color: rgba(100, 216, 143, 0.566);
    
}

.section3-containing-box div> img {
   background-color: rgb(208, 63, 31);
    padding: 10px;
    border-radius: 50%;
}




.sec4-the-solution {
    position: relative;
    display: flex;
    min-height: 600px;
    width:auto;
    gap: 20px; 
    margin-bottom: 20px;          
}
.sec4-h4 {
    color: rgb(13, 140, 51);
}
.sec4-the-solution-text {
    text-align: left;
    margin: 90px 2px 15px 2px;  
    padding-top: 60px;
    padding-left: 25px;
}
.sec4-solution-image-details img{
    margin-top: 55px;
    margin-left: 55px;
    margin-bottom: 75px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
}
.p-in-sec4 {
    margin-right: 60px;
}
.sec4-lines-with-small-icons {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 40px;
}
.sec4-small-icons {
    display: flex;
    align-items: center;
    gap: 10px;
} 
.h1-in-sec4 {
    font-size: 48px;
    margin: 5px auto;
    line-height: 0.2;
    padding-top: 20px;
} 
.h1-2-in-sec4 {
    font-size: 48px;
}

.sec5 {
    background-color: rgb(240, 248, 255);
    padding: 40px 20px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.568);
} 
.button-sec5 {
    background-color: rgb(13, 140, 51);
    color: white;
    padding: 7px 15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
    opacity: 0.8;
    margin-top: 10px;
    cursor: pointer;
}

.button-sec5:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(220, 8, 8);
}



.right-arrow {
    margin-left: 8px;
    vertical-align: middle;
}
.footer {
    background-color: rgb(17, 19, 52);
    color: white;;
    padding: 20px;
    font-size: 14px;
    margin-top: 20px;
}
.footer-socials {
    margin-top: 10px;
    gap: 15px;  
    text-align: right;
}
.socials-text-only { text-decoration: underline; opacity: 0.5;}

.social-links img {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    cursor: pointer;
    opacity: 0.5;
}
.social-links img:hover {
    opacity: 1;
    
    

}

.footer-ending {
    max-width: 1100px; 
    margin: 20px auto 0;         
    padding-top: 12px;
    border-top: 1px solid rgba(255, 255, 255, 0.2); 
    text-align: center;
    font-size: 12px;
    color: rgb(220, 220, 220);
    opacity: 0.6;
}
