header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 20px;
background-color: #f8f9fa;
font-family: 'Arial', sans-serif;
}


.logo-Header img {
height: 50px;
}  




.navbar-header-middle a{
text-decoration: none;
color: black;
margin: 0 15px;
padding: 3px 8px;
border-radius: 2px;
}
.navbar-header-middle a:hover {
color: rgb(245, 247, 242); background-color: black;     
}  




.navbar-Header-right a{
text-decoration: none;
color: white;
background-color: rgb(13, 140, 51);
padding: 8px 16px;
border-radius: 4px;
font-weight: 500;
}
.navbar-Header-right a:hover {
    color: rgb(25, 23, 19); background-color: paleturquoise;